body {
    margin: 0;
    background-image: url(../image/thumb-1920-650460.jpg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a {
    text-decoration: none;
}
.flex{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
header {
    border-bottom: 1px solid #15cbf8;
    background-color: rgba(131, 199, 245, 0.5);
    position: relative;
    padding: 2px 0;
}


nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 2px 20px;
    
}
nav ul li a {
    color: black;
    font-size: 0.85em;
    font-weight: 600;
    margin: 0;
    letter-spacing: 2px;
    padding: 9px 15px;
    transition: 0.4s;

}

nav ul li a:hover {
    color: aliceblue;
    background-color: #15cbf8;
    border-radius: 20px;

}

#login-register-button{
    margin: 10px 0;
    padding: 20px 15px;
    background-color: #15cbf8;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75em;
    color: #000;

}

#login-register-button:hover{
    color: #fff;

}
.linka{
    text-decoration: none;
    font-size: medium;
    color: aliceblue;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}

.contact .content p{
    
    font-weight: 300;
    color: #fff;

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h2{
    font-weight: 500;
    color: #ffffff;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #15cbf8;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
